@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background:linear-gradient(68.15deg, #b5b804 16.62%, #301d02 85.61%);;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{

    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #ffff;
}


.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #ffff;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: floralwhite;
}

.conteudo-principal-escrito-botao {
    background-color: aliceblue;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    animation: animar 1.5s linear infinite;
}

@keyframes animar {
    25% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
    }
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 430px;

}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid white;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: white;
}

.conteudo-secundario-paragrafo2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: white;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid white;
}

.rodape-imagem {
    height: 400px;
    display: block;
    margin: 0 auto;
}

